@import "../../global.scss";
.menu {
  width: 300px;
  height: 100vh;
  background:
  linear-gradient(217deg, rgba(207, 171, 119, 0.8), rgba(0,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(67, 194, 141, 0.8), rgba(0,0,0,0) 70.71%),
  linear-gradient(336deg, rgba(144, 67, 199, 0.8), rgba(0,0,0,0) 70.71%);
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &.active {
    right: 0;
  }
ul{
    width: 60%;
    
}

  a {
    text-decoration: none;
    line-height: 50px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 10;
  }  
  & a:hover {
    margin-left: 5px;
    transition: 1s ease;
  }
}
